<!DOCTYPE html>
<html>
<head>
    <title>Bug Tracker</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="~/assets/plugins/parallax-slider/css/parallax-slider.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="~/assets/css/themes/default.css" id="style_color">

    <!----PagedList-->
    <link rel="stylesheet" href="~/Content/PagedList.css" type="text/css"/>

    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/assets/css/custom.css">

    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    

    <div class="wrapper">
        <!--=== Header ===-->
        <div class="header">
            
            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        
                        <h2>Issue Manager</h2>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-responsive-collapse" style="padding-top:25px;">
                        <ul class="nav navbar-nav">
                            <!-- Home -->
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>

                            <!-- End Home -->
                            @if (User.IsInRole("Admin"))
                            {
                                <li>@Html.ActionLink("Manage Roles", "Users", "Admin")</li>
                            }
                            <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Developer"))
                            {
                                <li>@Html.ActionLink("Manage Projects", "Index", "Projects")</li>
                            }
                            @if (User.IsInRole("Developer"))
                            {
                                <li>@Html.ActionLink("Notifications", "Notifications", "Home")</li>
                            }
                            
                            
                            <li> @Html.Partial("_LoginPartial")</li>
                        </ul>
                    </div><!--/navbar-collapse-->
                </div>
            </div>
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>*@


        <div class="container body-content">
            @RenderBody()
            <hr />

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="~/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="~/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="~/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/parallax-slider/js/modernizr.js"></script>
    <script type="text/javascript" src="~/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="~/assets/js/app.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/index.js"></script>
    
</body>
</html>
