@using PagedList
@using PagedList.Mvc

@model PagedList<BugTracker.Models.Ticket>
<link rel="stylesheet" type=" text/css" href="~/assets/css/jquery.dataTables.css" />
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2> Issues Index </h2>
    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("Create New", "Create")
        </div>
        @if(User.IsInRole("Developer"))
        {
        <div class="col-md-2">
            @Html.ActionLink("My Tickets", "Index", new { role="dev"})<span> | </span>
            @Html.ActionLink("All Tickets", "Index")
        </div>
        }
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-green margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"> Issues</h3>
                </div>
                <table id="ticket" class="display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                AssignedTo @*@Html.ActionLink("AssignedToUser", "Index", new {sort = "Assigned" })*@
                            </th>
                            <th>
                                Owner @*@Html.ActionLink("OwnerUser", "Index", new { sort = "Owner" })*@
                            </th>
                            <th>
                                Project @*@Html.ActionLink("Project", "Index", new { sort = "Project" })*@
                            </th>
                            <th>
                                Prioity @*@Html.ActionLink("Priority", "Index", new { sort = "Priority" })*@
                            </th>
                            <th>
                                Status @*@Html.ActionLink("Status", "Index", new { sort = "Status" })*@
                            </th>
                            <th>
                                Type @*@Html.ActionLink("Type", "Index", new { sort = "Type" })*@
                            </th>
                            <th>
                                Title @*@Html.ActionLink("Title", "Index", new { sort = "Title" })*@
                            </th>
                            <th>
                                Decscription @*@Html.ActionLink("Desc", "Index", new { sort = "Desc" })*@
                            </th>
                            <th>
                                Created @*@Html.ActionLink("Created", "Index", new { sort = "Created" })*@
                            </th>
                            <th>
                                Updated @*@Html.ActionLink("Updated", "Index", new { sort = "Updated" })*@
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.Raw(item.Description)
                                </td>
                                <td>
                                    @item.Created.DateTime.ToLongDateString())
                                </td>
                                <td>
                                    @if (item.Updated != null)
                                    {
                                        @item.Updated.Value.DateTime.ToLongDateString()
                                    }

                                </td>
                                <td>
                                    @if(User.IsInRole("Admin") || User.IsInRole("Project Manager") || ViewBag.Dev == "dev")
                                    {
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })<span> | </span>
                                    }
                                    @Html.ActionLink("Details", "Details", new { id = item.Id })

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <!--End Hover Rows-->
        <!--------- Pager-->
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, p => Url.Action("Index", new { page = p }))
    </div>
</div>

@section scripts {

<script type="text/javascript" src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#ticket').DataTable();
    });
</script>
}


