@*@using PagedList
@using PagedList.Mvc*@

@model List<BugTracker.Models.Ticket>
<link rel="stylesheet" type=" text/css" href="~/assets/css/jquery.dataTables.css" />
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h3> Issues Index </h3>
    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("Create New", "Create")
        </div>
        
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-green margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"> Issues</h3>
                </div>
                <div class="row">
                    @if (User.IsInRole("Developer"))
                    {
                        <div class="col-md-4">
                            <label>Show My Tickets: <input type="checkbox" id="myTickets" value="off" /></label>
                        </div>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="col-md-4">
                            <label>Show Tickets After: <input type="date" id="date" /></label>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Tickets Type: @Html.DropDownList("type", new SelectList(new string[] { "All","Enhancement", "Bug", "Info Needed", "New Feature", "Requirement" }), new {@id="type" })</label>
                    </div>
                    <div class="col-md-4">
                        <label>Tickets Priority: @Html.DropDownList("priority", new SelectList(new string[] { "All", "Important", "Urgent", "Critical" }), new { @id = "priority" })</label>
                    </div>
                    <div class="col-md-4">
                        <label>Tickets Status: @Html.DropDownList("status", new SelectList(new string[] { "All", "Open", "Assigned", "InProgress", "Resolved" }), new { @id = "status" })</label>
                    </div>
                </div>
                <table id="ticket" class="display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Title 
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Created 
                            </th>
                            <th>
                                Updated
                            </th>
                            <th>
                                AssignedTo 
                            </th>
                            <th>
                                Owner 
                            </th>
                            <th>
                                Project 
                            </th>
                            <th>
                                Status 
                            </th>
                            <th>
                                Priority
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Link
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                </td>
                                <td>
                                    <span style="cursor:pointer;" data-toggle="popover" data-html="true" title="@item.Title" data-content="@Html.Raw(item.Description)">
                                        @item.Title
                                    </span> 
                                </td>
                                <td>
                                    @item.Created.DateTime.ToLongDateString()
                                </td>
                                <td>
                                    @if (item.Updated != null)
                                    {
                                        @item.Updated.Value.DateTime.ToLongDateString()
                                    }

                                </td>
                                <td>
                                    @if(User.IsInRole("Admin") || User.IsInRole("Project Manager") || ViewBag.Dev == "dev")
                                    {
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })<span> | </span>
                                    }
                                    @Html.ActionLink("Details", "Details", new { id = item.Id })

                                </td>
                            </tr>
                        }*@
                        


                    </tbody>
                </table>
            </div>
        </div>
        <!--End Hover Rows-->
        <!--------- Pager-->
        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, p => Url.Action("Index", new { page = p }))*@
    </div>
</div>

@section scripts {

<script type="text/javascript" src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/datepicker.js"></script>

<script>
    $(document).ready(function () {
       
        $('[data-toggle="popover"]').popover()

        function formatDate(obj) {
            if (obj == null)
                return null;
            var dx = new Date(parseInt(obj.substr(6)));
            var dd = dx.getDate();
            var mm = dx.getMonth() + 1;
            var yy = dx.getFullYear();

            if(dd<=9)
            {
                dd = "0" + dd;
            }
            if (mm <= 9) {
                mm = "0" + mm;
            }
            return mm + "." + dd + "." + yy;
        }


        $('#ticket').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/Tickets/GetTickets",
                "type": "Post",
                "data": function (d) {
                    d.myTickets = $('#myTickets').is(':checked');
                    d.date = $('#date').val();
                    d.type = $('#type').val();
                    d.priority = $('#priority').val();
                    d.status = $('#status').val();
                    // d.custom = $('#myInput').val();
                    // etc
                }
            },
            "columns": [
                { "data": "Id", "visible": false },
                { "data": "Title" },
                { "data": "Description" },
                {
                    "data": "Created",
                    "render":formatDate
                },
                {
                    "data": "Updated",
                    "render": formatDate
                },
                { "data": "AssignedToUser" },
                { "data": "OwnerUser" },
                { "data": "Project" },
                { "data": "TicketStatus" },
                { "data": "TicketPriority" },
                { "data": "TicketType" },
                { "data": "link"},

            ]
        });

        $('#myTickets').change(function () {
            $('#ticket').dataTable().api().draw();
        })
        $('#date').change(function () {
            $('#ticket').dataTable().api().draw();
        })
        $('#type').change(function () {
            $('#ticket').dataTable().api().draw();
        })
        $('#status').change(function () {
            $('#ticket').dataTable().api().draw();
        })
        $('#priority').change(function () {
            $('#ticket').dataTable().api().draw();
        })
    });
</script>
}


