
@model BugTracker.Models.ApplicationUser
@{
    ViewBag.Title = "My Account";
}

<div class="container content">
    <div class="row">
        <div class="col-md-8">
            <section id="useraccount">

                <form method="post" action="UserAccount" class="form-horizontal">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="userId" value="@Model.Id"/>
                    <label class="col-md-2">User Name  </label>
                    <p class="col-md-10">@Model.UserName</p><br /><br />
                    <input type="text" name="userName" value="@Model.UserName" />
                    <p> </p>
                    <button class="btn btn-success" type="submit">Change UserName</button>

                </form>



                @*@using (Html.BeginForm("UserAccount", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Account Information</h4>
                    <hr />
                   
                    @Html.HiddenFor(m=>m.Id)
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DisplayFor(m => m.UserName, new { @class = "form-control" })
                            
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        <button class="btn btn-success" type="submit">Change UserName</button>
                    </div>*@   
                     
                     <br />
                        <p>
                            @Html.ActionLink("Change Password", "ChangePassword","Manage")
                        </p>
                
            </section>

        </div>
        
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}